services:
  # 1. The Real Target Server
  hsts-server:
    image: nginx:alpine
    container_name: hsts-server
    volumes:
      - ./webserver/conf/nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ./webserver/certs:/etc/nginx/certs:ro
      # MOUNT THE HTML FOLDER
      - ./webserver/html:/usr/share/nginx/html:ro
    networks:
      vpc:
        ipv4_address: 172.20.0.10

  # 2. The Attacker
  attacker-mitm:
    build:
      context: ./attacker
      dockerfile: Dockerfile
    container_name: attacker-mitm
    cap_add:
      - NET_ADMIN
      - SYS_TIME
    volumes:
      - ./attacker/malicious-nginx.conf:/etc/nginx/http.d/default.conf:ro
    networks:
      vpc:
        ipv4_address: 172.20.0.5

  # 3. The Victim
  victim-client:
    image: ubuntu:latest
    container_name: victim-client
    privileged: true
    depends_on:
      - attacker-mitm
    dns:
      - 172.20.0.5
    environment:
      - DEBIAN_FRONTEND=noninteractive
    networks:
      vpc:
    command: >
      bash -c "echo 'Victim: Waiting 10s for DNS...' && sleep 10 &&
               echo 'Victim: Installing tools...' &&
               apt-get update && apt-get install -y ntpdate curl iputils-ping &&
               echo 'Victim: Setup Complete. Starting Loop...' &&
               while true; do
                 echo '-----------------------------------'
                 echo 'Victim: Requesting time from time.google.com...'
                 ntpdate -u time.google.com
                 date
                 sleep 60
               done"

networks:
  vpc:
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.0.0/24